In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [3]:
df = spark.read.json('people.json')

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [7]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [8]:
df.columns

['age', 'name']

In [10]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [14]:
from pyspark.sql.types import (StructField,StringType, 
                               IntegerType, StructType)

In [17]:
data_schema = [StructField('age', IntegerType(),True),\
               StructField('name', StringType(),True)]

In [19]:
final_schema = StructType(fields=data_schema)

In [20]:
df = spark.read.json('people.json', schema = final_schema)

In [23]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

# Grabbing the data

In [26]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [27]:
type(df['age'])

pyspark.sql.column.Column

In [35]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [32]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

# Create new column

In [36]:
df.withColumn('newage', df['age']*2 ).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

In [37]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [39]:
df.withColumnRenamed('age','supernewage').show()

+-----------+-------+
|supernewage|   name|
+-----------+-------+
|       null|Michael|
|         30|   Andy|
|         19| Justin|
+-----------+-------+

In [40]:
df.withColumn('half_age',df['age']/2)

DataFrame[age: int, name: string, half_age: double]

# Using SQL

In [41]:
# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("people")

In [42]:
sql_results = spark.sql('SELECT * FROM people')

In [43]:
sql_results

DataFrame[age: int, name: string]

In [44]:
sql_results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [45]:
spark.sql('SELECT * FROM people WHERE age=30').show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+